<h1 class="text-center my-5">Twitter Index</h1>

<% @tweets.each do |f| %>
<div class="card text-center my-5">
       
       <div class="text-left">
              <%#= image_tag @user.photo, size: '200x120' %>
       </div>

       <div>
              <%= f.content %>
       </div>

       <div>
              <%#= @like.count %>
       </div>

</div>
<%end%>

<div class="row">
       <%#= paginate @tweets %>
</div>